.container{
    width: 500px;
    height: 600px;
    border: #799bb9 solid 2px;
}

.container_margin{
    margin: 50px 30px;
}

#table_search{
    border-spacing: 1em;
}

.blue_bgr{
    background-color: #2e75b6;
    border: #799bb9 solid 2px;
    color: #fff;
    width: 100px;
    height: 30px;
    text-align: center;
    
}


.box{
    border: #799bb9 solid 2px;
    margin: 10px 0px;
}

.border_radius{
    border-radius: 10px;
}

#falcuty{
    width: 150px;
    height: 25px;
}

#key_search{
    padding: 0px;
    margin: 0px;
    width: 146px;
    height: 21px;
}

#search{
    margin-left: 100px;
    height: 40px;
    width: 120px;
}

#add{
    margin: 0px;
    float: right;
}

.col1{
    width: 30px;
}

.col2{
    width: 130px;
}

.col3{
    width: 150px;
}

.col4{
    width: 70px;
    display: flex;
    flex-direction: row;
}

.edit_del{
    background-color: #2e75b6;
    color: #fff;
    width: 70px;
    height: 30px;
    margin-right: 10px;
}